
<style>
    .vidTag
    {
        margin: 5px 10px 5px 10px;
        background-color: beige;
        color: black;
        padding: 5px;
        display: inline-block;
    }

    input:focus {
    outline: none;
    border: none;
}


#cancel-button
{
    color: rgb(255, 108, 108);
}
#cancel-button:visited
{
      color: rgb(255, 108, 108);
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script>

    var tags = [];
    
    function tagsToString() {

        var temp = "";
        for(var i = 0; i < tags.length; i ++)
        {
            temp+=tags[i]
            if(i!=tags.length)
            {
                temp+=0;
            }
        }

    }
    //     const imageUrlToBase64 = async (url) => {
    //     const data = await fetch(url,
    //         {
    //             method: "get",
    //             mode: "no-cors"
    //         }
    //     )
    //     const blob = await data.blob();
    //     const reader = new FileReader();
    //     reader.readAsDataURL(blob);
    //     reader.onload = async () => {
    //         const base64data = reader.result;
    //         return await base64data
    //     }
    
      
        
    // }
    // console.log( imageUrlToBase64("https://img.youtube.com/vi/BTWPDboW38o/hq720.jpg"))


    console.log("hello");
    
    function getSecondPart(str) {
        var mySubString ="";
    
        if(str.indexOf("https://youtu.be/") !== -1)
        {
            mySubString = str.substring(
                str.lastIndexOf("/") + 1, 
                str.indexOf("?")
            );
        }
        
        else if(str.indexOf("&") !== -1)
        {
            mySubString = str.substring(
                str.indexOf("=") + 1, 
                str.indexOf("&")
            );
        }
    
        else
        {
            mySubString = str.split('=')[1];
        }
        return mySubString;
    }
        // var newImage = document.createElement('img')
        // newImage.style.display = "none"
        // document.body.appendChild(newImage);
    




    
        const colorThief = new ColorThief();
       // const img = document.querySelector('img');
    
       var stars = document.getElementsByClassName("star");
       var output = document.getElementById("hidden-data");
    
    async function chooseVideo(vid)
    {
        var containerDiv = document.getElementById("sub-div");
        containerDiv.replaceChildren();
    
        var thisLink = document.getElementById("enter-link");
        console.log(vid);
        <% /* %>
        //<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.youtubeId%>?si=zFv2_59A4Zgvz29U&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       
       <% */ %>
        var newIframe = document.createElement("iframe");
        newIframe.src = "https://www.youtube.com/embed/"+getSecondPart(vid)+"?si=zFv2_59A4Zgvz29U&autoplay=1";
        newIframe.width = "560";
        newIframe.height ="315";
        newIframe.frameborder = "0";
        newIframe.allowFullscreen = true;
        newIframe.style.display = "inline-block";
        containerDiv.appendChild(newIframe);
    
    
        var formDiv = document.createElement('div');
        formDiv.style.display = "inline-block";
    
        formDiv.style.height = "100%";
        formDiv.style.marginLeft = "20px";
        containerDiv.appendChild(formDiv);
    
        var starDiv = document.createElement('div');
        //starDiv.style.textAlign = "center";
        formDiv.append(starDiv);
    

        var pTags = document.createElement('p');
        pTags.innerHTML = "Tags:";
        starDiv.append(pTags);

        var tagDiv = document.createElement('div');
        starDiv.append(tagDiv);
        tagDiv.id = "tagContainer";
        tagDiv.style.width = "220px";



        var tagInput = document.createElement('input');
        tagInput.type = "text";
        tagInput.id = "tagInput"
        starDiv.append(tagInput);

        var addTagButton = document.createElement('button');
        addTagButton.type = "button";
        addTagButton.innerHTML = "Add";
        //addTagButton.onclick =
        addTagButton.onclick = function() { addTag();};
        starDiv.append(addTagButton);


        




        // var star1 = document.createElement('img');
        // star1.src = "empty.svg";
        // star1.style.width = "50px";
        // star1.className = "star";
        // starDiv.append(star1);
        // star1.onclick = function() {gfg(1)};
    
        // var star2 = document.createElement('img');
        // star2.src = "empty.svg";
        // star2.style.width = "50px";
        // star2.className = "star";
        // starDiv.append(star2);
        // star2.onclick = function() {gfg(2)};
    
    
        // var star3 = document.createElement('img');
        // star3.src = "empty.svg";
        // star3.style.width = "50px";
        // star3.className = "star";
        // starDiv.append(star3);
        // star3.onclick = function() {gfg(3)};
        
        // var star4 = document.createElement('img');
        // star4.src = "empty.svg";
        // star4.style.width = "50px";
        // star4.className = "star";
        // starDiv.append(star4);
        // star4.onclick = function() {gfg(4)};
    
    
        // var star5 = document.createElement('img');
        // star5.src = "empty.svg";
        // star5.style.width = "50px";
        // star5.className = "star";
        // starDiv.append(star5);
        // star5.onclick = function() {gfg(5)};
    
        /*
        var newTA = document.createElement("textarea")
        formDiv.append(newTA)
        newTA.classList.add("textA")
        newTA.name = "content"
        newTA.rows = "7"
        newTA.cols = "50"
        newTA.id = "text-area"
        newTA.style.marginTop = "20px"
    */
    
        var hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.id = "hidden-data";
        formDiv.append(hiddenInput);
    
        var newButton = document.createElement("button");
        newButton.style.display = "block";
        newButton.style.width = "100px";
        newButton.style.height = "50px";
        newButton.innerHTML = "Create";
        formDiv.append(newButton);
    
        newButton.onclick = function() {sendData(vid)};
    
        stars = document.getElementsByClassName("star");
        output = document.getElementById("hidden-data");

        document.getElementById('sub-div').style.paddingTop = "10vh";

    }
    
    
    
    
    /*
        async function sendData(s)
    {
        var rting = document.getElementById("hidden-data")
        var txarea = document.getElementById("text-area")
        var color
      //getPreviewURL(s.id)
      let googleProxyURL = 'https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&refresh=2592000&url=';
      var newImage = document.createElement('img')
        //newImage.style.display = "none"
        newImage.style.width = "500px"
        //newImage.crossOrigin = 'Anonymous';
        //newImage.src = "https://img.youtube.com/vi/"+getSecondPart(lnk.value)+"/hq720.jpg"
    
        newImage.src = "/proxy?link="+"https://img.youtube.com/vi/"+getSecondPart(s)+"/hq720.jpg"
        
        document.body.appendChild(newImage);
    
    
    
        newImage.addEventListener('load', async function() {
            
            color =  colorThief.getColor(newImage);
    
            console.log(rting.value)
            console.log(color)
        try{
            
            var fr = await fetch("/videos", {
            method: "POST",
            redirect: 'follow',
            headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
            body: JSON.stringify({
                link: s,
                rating: rting.value,
                content: txarea.value,
                bgcolor: color.toString()
            })
        })
    
        if(fr.redirected)
        {
            window.location.href = fr.url;
        }
    
        }
    
        catch(e)
        {
            console.log(e)
        }
    
          });
      
     
       
    
    }
    */
    
     
    // Funtion to update rating
    function gfg(n) {
        console.log("CONFIRM");
        output =  document.getElementById("hidden-data");
        remove();
        console.log(stars);
        console.log(n);
        for (let i = 0; i < n; i++) {
    
            stars[i].src = "star.svg"
        }
        output.value = n.toString();
        //output.innerText = "Rating is: " + n + "/5";
    }
     
    // To remove the pre-applied styling
    function remove() {
        let i = 0;
        while (i < 5) {
             stars[i].src = "empty.svg"
            i++;
        }
    }

    function addTag()
    {
        var myInput = document.getElementById("tagInput");
        var tagValue = myInput.value;
        if(myInput.value !="")
        {
        var myTagContainer = document.getElementById("tagContainer");
        var temp = document.createElement("p");
       
        temp.innerHTML = myInput.value;
        myInput.value = "";
        temp.classList.add("vidTag");
        myTagContainer.append(temp);
        tags.push(tagValue);
        }

        
    }

    


     async function sendData(s)
{
    console.log("HERERE" + tags);
    var rting = document.getElementById("hidden-data")
    var txarea = document.getElementById("text-area")
    var color
  //getPreviewURL(s.id)

  var newImage = document.createElement('img')
    //newImage.style.display = "none"
    newImage.style.width = "500px"
    //newImage.crossOrigin = 'Anonymous';
    //newImage.src = "https://img.youtube.com/vi/"+getSecondPart(lnk.value)+"/hq720.jpg"

    newImage.src = "/proxy?link="+"https://img.youtube.com/vi/"+getSecondPart(s)+"/hq720.jpg"
    
    document.body.appendChild(newImage);



    newImage.addEventListener('load', async function() {
        
        color =  colorThief.getColor(newImage);

        console.log(rting.value)
        console.log(color)


    try{
        
        var fr = await fetch("/upload", {
        method: "POST",
        redirect: 'follow',
        headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },

        body: JSON.stringify({
            test: 1,
            link: s,
            tags: tags,
            bgcolor: color.toString()
        })
    })

    if(fr.redirected)
    {
        window.location.href = fr.url;
    }

    }

    catch(e)
    {
        console.log(e)
    }

      });
  
 
   

}

    </script>

<div class="box">


    <div id="sub-div">
    <input autocomplete="off" id="enter-link" type ="text" name="name" placeholder="Enter YouTube URL" style="border-radius: 17.5px; border: none; font-size: 20px; background-color:rgb(31, 31, 31); height: 40px; caret-color: white; color: white; padding-left: 10px;" size="50" >
    <a id="cancel-button" href ="/videos" style="margin-top: auto; margin-bottom: auto; margin-left: 10px; margin-right: 10px;">Cancel</a>
    <button onclick="chooseVideo(document.getElementById('enter-link').value)">Create</button>
    </div>
    
    </div>
